.input-base {
  display: flex;
  flex-direction: column;
  height: 78px;

  .input-field {
    padding: $spacing-small;
    border-radius: $border-radius;
    border: 1px solid $color-disabled;
    font-size: $text-body;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $color-brand-primary-light;
    }
  }

  .input-label {
    margin-bottom: $spacing-xxsmall;
    font-size: $text-label;
    transition: color 0.3s ease;
  }

  &:focus-within {
    .input-label {
      color: $color-brand-primary-light;
    }
  }

  &.input-error {
    .input-field {
      border-color: $color-error;
    }

    .input-label {
      color: $color-error;
    }
  }

  .error-message {
    color: $color-error;
    font-size: $text-error;
    margin-top: $spacing-xxsmall;
    padding-left: $spacing-xsmall;
  }
}
