.input-base {
  display: flex;
  flex-direction: column;
  height: 78px;

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: $spacing-small;
    font-size: $spacing-medium;
  }

  &__field {
    padding: $spacing-small;
    border-radius: $border-radius;
    border: 1px solid $color-disabled;
    font-size: $text-body;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;

    &:focus {
      border-color: $color-brand-primary-light;
    }
  }

  &__label {
    margin-bottom: $spacing-xxsmall;
    font-size: $text-label;
    transition: color 0.3s ease;
  }

  &:focus-within {
    &__label {
      color: $color-brand-primary-light;
    }
  }

  &--error {
    &__field {
      border-color: $color-error;
    }

    &__label {
      color: $color-error;
    }
  }

  &__error-message {
    color: $color-error;
    font-size: $text-error;
    margin-top: $spacing-xxsmall;
    padding-left: $spacing-xsmall;
  }
}
