.review-step {
  :deep(.input-base):not(:last-child) {
    margin-bottom: unset;
  }

  :deep(.input-base) {
    margin-bottom: $spacing-small !important;
  }

  :deep(.welcome-step__document-type-wrapper) {
    margin: $spacing-small 0;
  }
}
