.registration-form {
  background-color: #ccc;
  padding: 2rem;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: $font-weight-bold;
  color: $color-brand-primary-regular;
}
