.welcome-step {
  &__wrapper {
    margin: $spacing-large 0;
    height: 32px;
  }

  &__document-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__radio {
    input {
      margin-right: $spacing-xxsmall;
    }
  }

  .error-message {
    color: $color-error;
    font-size: $text-error;
    margin-top: $spacing-xxsmall;
    padding-left: $spacing-xsmall;
  }
}
