.welcome-step {
  &__document-type-wrapper {
    margin: $spacing-large 0;
    height: 32px;
  }

  &__radio {
    &-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    input {
      margin-right: $spacing-xxsmall;
    }
  }

  &__error-message {
    color: $color-error;
    font-size: $text-error;
    margin-top: $spacing-xxsmall;
    padding-left: $spacing-xsmall;
  }
}
